:root {
  --dark-blue: #10297b;
  --red: #ea223c;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  background-color: var(--dark-blue);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--dark-blue);
  color: rgb(229, 133, 75, 255);
}

section:nth-child(even) {
  background-color: var(--red);
}

section {
  height: 200px;
}
