:root {
  --dark-blue: #10297b;
  --red: #ea223c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  background-color: var(--dark-blue);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--dark-blue);
  color: rgb(229, 133, 75, 255);
}

section:nth-child(even) {
  background-color: var(--red);
}

section {
  height: 200px;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > .container {
  max-width: calc(768px - 4rem);
}

@media (width > 768px) {
  section {
    padding: 0;
  }
}
