@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

/* Variables */
:root {
  --blue: #3ab3b9;
  --marron: #a8865c;
  --beige: #fff8f0;
  --white: #ffffff;
  --black: #1e1e1e;
  --grey: #a0a0a0;
  --circular-brown-logo-size: 6rem;
}

/* Resets */
a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Outfit", Verdana, sans-serif;
  font-size: large;
}

/* Styles */

h1,
h2 {
  font-size: 200%;
  font-weight: 200;
  font-family: "Cookie", cursive;
}

@media screen and (width >= 576px) {
  h1,
  h2 {
    font-size: 250%;
    font-weight: 200;
    font-family: "Cookie", cursive;
  }
}

hr {
  --line-weight: 0.1rem;
  width: 3rem;
  border: solid var(--line-weight) var(--marron);
  border-radius: var(--line-weight);
}

.section-heading {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.section-heading h2 {
  text-align: center;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.enroll-button {
  --transition-delay: 0.2s;
  padding: 1rem 2rem;
  border: solid 4px var(--marron);
  border-radius: 2rem;
  font-weight: bold;
  font-size: larger;
  background-color: var(--marron);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  transition: color var(--transition-delay) ease,
    background-color var(--transition-delay) ease;
}

.enroll-button:hover {
  background-color: var(--white);
  color: var(--marron);
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.beige-background {
  background-color: var(--beige);
  color: var(--black);
}

.dark-background {
  background-color: var(--black);
  color: var(--white);
}

.shadowed {
  box-shadow: 0px 5px 10px 0px rgba(168, 134, 92, 0.3);
}

.bordered {
  border-radius: 1rem;
}

.circular-brown-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circular-brown-logo-size);
  height: var(--circular-brown-logo-size);
  border-radius: 50%;
  background-color: var(--marron);
}

.no-padding {
  padding: 0;
}

section {
  padding-block: 2rem;
}

.circular-brown-logo > img {
  width: 75%;
}

.wrapper {
  padding: 0 1rem;
  max-width: 1140px;
  margin-inline: auto;
}

/* Header */

header {
  background-color: var(--beige);
  padding-block: 2rem 0rem;
  min-height: calc(80vh - 2rem);
}

.header-container-logo {
  max-height: 10rem;
  max-width: 100%;
  display: block;
  margin: 0 auto 2rem auto;
}

.header-container-main h1 {
  text-align: center;
}

.header-container-main h1 br {
  display: none;
}

.header-container-image {
  display: none;
}

.header-container-image img {
  width: 100%;
}

@media screen and (width >= 576px) {
  header {
    --background-coverage: 10%;
    background: linear-gradient(
      0deg,
      var(--white) 0%,
      var(--white) var(--background-coverage),
      var(--beige) var(--background-coverage),
      var(--beige) 100%
    );
  }
  .header-container {
    display: flex;
    gap: 1rem;
  }
  .header-container > * {
    flex: 1;
  }
  .header-container-image {
    display: block;
  }
}

/* Main */

/* Section Quoi ? */

.even-columns {
  display: grid;
  gap: 1rem;
}

@media screen and (width >= 576px) {
  .even-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 992px) {
  .even-columns {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.card-outline {
  display: flex;
  padding: 1rem;
  background-color: var(--beige);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--beige);
  border: solid 1px var(--marron);
}

.card > p {
  text-align: center;
}

/* Section Besoin */

.besoin-container {
  display: flex;
}

.besoin-container > * {
  flex: 1;
}

.description-container {
  padding-block: 2rem;
}

.besoin-image {
  display: none;
}

@media screen and (width >= 992px) {
  .description-container {
    padding-inline: 1rem;
  }
  .besoin-image {
    display: block;
    background-image: url("resources/serveuse.webp");
    background-position: top left;
    background-size: cover;
  }
}

/* Section Qui ? */

.who-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.who-img {
  width: 100%;
}

@media screen and (width >= 576px) {
  .who-content {
    flex-direction: row;
  }

  .who-content > * {
    flex: 1;
  }
}

.who-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Section Avis */

.carousel-slide {
  padding: 1rem;
  background-color: var(--beige);
}

.carousel-slide img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

/* Footer */

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-container {
  text-align: center;
}

.useful-links a {
  display: inline;
  color: var(--marron);
}

/*

.footer-container-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-container-icons a img {
  width: 1rem;
}

@media screen and (width >= 576px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
} */

/*

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 200px;
}

.main-section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-container {
  margin: auto;
  max-width: 992px;
  position: relative;
}

.even-columns > * {
  flex-basis: 100%;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  --line-weight: 0.1rem;
  width: 3rem;
  border: solid var(--line-weight) var(--marron);
  border-radius: var(--line-weight);
}

.card-outline {
  display: flex;
  padding: 1rem;
  background-color: var(--beige);
}

.card {
  padding: 2rem;
  background-color: var(--beige);
  border: solid 1px var(--marron);
}

.card > p {
  text-align: center;
}

.description-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.besoin-description-container_logo {
  margin: 0 7rem;
}

.besoin-stats-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stat-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.description-container > img {
  max-height: 35rem;
}

.card > .circular-brown-logo {
  margin: 0 auto 2rem auto;
  width: 10rem;
  height: 10rem;
}

.circular-brown-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circular-brown-logo-size);
  height: var(--circular-brown-logo-size);
  border-radius: 50%;
  background-color: var(--marron);
}

.circular-brown-logo > img {
  width: 75%;
}

.carousel-reviews {
  position: relative;
  overflow: hidden;
}

.carousel-reviews-container {
  position: relative;
  width: calc((100% + 0.5rem) * 2);
  transition: left 1s;
  left: 0;
}

.carousel-slide {
  padding: 1rem;
  background-color: var(--beige);
}

.carousel-slide img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.carousel-bullets {
  display: flex;
  gap: 0.2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

div.carousel-bullet {
  display: block;
  background-color: var(--grey);
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
}

div.carousel-bullet_selected {
  background-color: var(--marron);
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container-icons a {
  display: inline;
  margin-left: 0.5rem;
}

.footer-container-icons a img {
  width: 1rem;
}
*/
